[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "zsh-completions"]
	path = zsh-completions
	url = git@github.com:pablospe/zsh-completions.git
[submodule "zaw"]
	path = zaw
	url = git://github.com/zsh-users/zaw.git
